PORT=8000
DB_NAME=pos_db
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=django-insecure--2#su&8%&-8mk0iuzdgvs6u#j#s8uocysjz$@()ehk1wz0$0-+
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
